html{
    background-color: blanchedalmond;
    color: black;
}

h1{
    color: blue;
    text-decoration: overline;
    text-align: center;
}
h2{
    
    color: blueviolet;

}
p{
    font-size: 45px;
}